{% extends 'base.html.twig' %}

{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: afficher le formulaire</h2>
    <div>
        {# todo: afficher le formulaire #}
    </div>

{% endblock %}

